<div class="row">
  
  <div class="text-center">
    <h3>
      About Us
    </h3>
  </div>
  
  
  <div class="shopify-policy__container mt-5 mb-5">
    <div class="mb-3">
      Sleek Hair Co was founded on the belief that hair care should be convenient, easy, fun and practical. We know that in this busy world, who has time to spend hours on their hair every day? Ditch the hairspray, bobby pins, hair clips and replace it with the Sleek Hair Wand that will give you beautiful luscious hair every day. Our child version will also allow your children and teenagers to maintain beautiful hair all day. 
    </div>
    
    <div class="mb-3">
      We believe everyone has their own beauty and therefore ship worldwide. There are no restrictions when it comes to us helping you achieve beautiful hair. Visit our FAQ page (Ilonka please link) for more details. 
    </div>
    
    <div class="mb-3">
      We love hearing from our beautiful customers, so send us an email to <a href="mailto: sales@sleekhaircoau.com"> sales@sleekhaircoau.com </a> or drop us a DM. Let’s see your amazing Sleek Hair glow up’s and we’ll feature you on our socials. 
    </div>
    
  </div>
  
   
           
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
