<div class="shopify-policy__container"> 
  
   <div id="accordion">
     
    <div class="card">
      <div class="card-header">
        <div>
           <a class="card-link" data-toggle="collapse" href="#collapseOne">
              SHIPPING POLICY
          </a>
        </div>
        
        <div class="collapseIcon">
          	-
        </div>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          All orders are shipping using Australia Post with a tracking number provided. You will receive your tracking number via email when your order has been fulfilled. If you place your order before 12pm (AEST) on a weekday it’ll be dispatched to you on the same day.
        </div>
      </div>
    </div>
     
     <div class="card">
      <div class="card-header">
        <div>
           <a class="card-link" data-toggle="collapse" href="#collapseTwo">
              AUSTRALIAN STANDARD SHIPPING
          </a>
        </div>
        
        <div class="collapseIcon">
          	-
        </div>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          We charge a $7 flat fee on all domestic standard shipping orders. All orders are shipped via Australia Post with a lead time of 2-7 business days from the date of dispatch*
        </div>
      </div>
    </div>
     
     <div class="card">
      <div class="card-header">
        <div>
           <a class="card-link" data-toggle="collapse" href="#collapseThree">
              AUSTRALIAN EXPRESS SHIPPING
          </a>
        </div>
        
        <div class="collapseIcon">
          	-
        </div>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          We charge a $10 flat fee on all domestic express shipping orders. Free express shipping applies on all orders over $49.99AUD All orders are shipped via Australia Post with a lead time of 1-2 business days from the date of dispatch*
        </div>
      </div>
    </div>
     
         
     <div class="card">
      <div class="card-header">
        <div>
           <a class="card-link" data-toggle="collapse" href="#collapseFour">
              INTERNATIONAL SHIPPING
          </a>
        </div>
        
        <div class="collapseIcon">
          	-
        </div>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
             <div class="accordian_text">
               We ship internationally! Please see below estimated lead times:
            </div>
          
            <div class="accordian_text">
              New Zealand: 9 - 15 Business Days*<br> 

              United Kingdom: 9 - 25 Business Days* <br>
 
              United States: 15 - 25 Business Days* <br>

             $15 AUD flat rate applies on all international orders
             
            </div>
                
            <div class="accordian_text">
               *Please note there are longer than usual delivery times in the Australia Post delivery network. The above delivery timeframes are an estimate and are used as a guide only.
            </div>

        </div>
      </div>
    </div>
     
         
     <div class="card">
      <div class="card-header">
        <div>
           <a class="card-link" data-toggle="collapse" href="#collapseFive">
              DUTIES & TAXES
          </a>
        </div>
        
        <div class="collapseIcon">
          	-
        </div>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
           <div class="accordian_text">
               Some countries (such as those located in the United Kingdom or the European Union) charge duties or Value Added Tax when goods are imported. Slick Hair Company has no control over these fees and is not responsible for any of these charges. These charges are imposed by and controlled by local governments, border security and/or customs authorities and can be added randomly.
            </div>
          
           <div class="accordian_text">
               It is your responsibility to pay any duties, Value Added Tax or other similar charges. If you refuse to pay these additional amounts then your delivery will be returned to us. Provided that the product is still in its original condition, Slick Hair Company will refund you the cost of your purchase (minus the costs of shipping to and from your country).
            </div>
          
        </div>
      </div>
    </div>
     
         
     <div class="card">
      <div class="card-header">
        <div>
           <a class="card-link" data-toggle="collapse" href="#collapseSix">
             OTHER INFORMATION
          </a>
        </div>
        
        <div class="collapseIcon">
          	-
        </div>
      </div>
      <div id="collapseSix" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <div class="accordian_text">
	         	If a change of address is made directly with your local post office, Australia Post or Slick Hair Company will not be held responsible for any loss or misdelivered parcels. Requests for change of address must be made directly with Slick Hair Company via our customer care email prior to your order being shipped. We will do our best to action this request prior to your item being shipped but can’t guarantee the change. If you have any questions please email our customer care team at <a href="#" target="_blank"> customercare@slickhaircompany.com </a>
            </div>
          
           <div class="accordian_text">
               Slick Hair Company is not responsible for lost or stolen packages or packages delayed in transit unless ‘Route Package Protection’ was added to your order.
            </div>
          
           <div class="accordian_text">
               If you opted to not be covered by ‘Route Package Protection’ and it was not delivered due to an incomplete or incorrect address, lost or stolen package, you may wish to have it re-sent for an additional $10 shipping fee. If you wish to be refunded, we will refund you the amount of your purchase minus the $10 shipping fee to and from your address.
            </div>
          
        </div>
      </div>
    </div>
      
    </div>
 
     
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
	.off-canvas--viewport{
		min-height: auto !important;
	}

	.shopify-policy__container {
        max-width: 1157px;
  		margin: auto;
        margin-bottom: 50px;
    }	
	
	#accordion{		
    	margin-bottom: 50px !important;
	}

	.card-header{
		position: relative;
	}

	.collapseIcon{
		position: absolute;
		right: 10px;
        top: -10px;
        font-size: 40px;
	}

	#accordion .card{
		border: none;
	}

	#accordion .card-header{
		background: #fff;
		border: none;
		border-top: 1px solid #9554bc;
        margin-bottom: 0;
        padding: 26px 15px;
        border-radius: 0;
        font-weight: 600;
	}

	.collapseIcon{
		color:  #9554bc;
	}
  
  	.accordian_title
  	{
      font-weight: 600;
      padding-bottom: 15px;
	}
  	
  	.accordian_text{
  		padding-bottom: 15px;
  	}
  

{% endstylesheet %}

{% javascript %}
	  $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".collapseIcon").text('+');
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".collapseIcon").text('-');
        });
{% endjavascript %}
